/*css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* main discover page */

/* .app-discover {
	background-color: red;
    width: 1879px;
    height: 3638px;
} */
.app-discover {
	background-color: #f2f2f2;
    width: 100%;
    height: 3638px;
	margin: 0 auto;
	margin-top: 2%;
}



/* .discover-center {
	background-color: #fff;
	width: 1240px;
	height: 100%;
	margin-left: 17.1%;
	margin-top: 2%;
} */

.discover-center {
	background-color: #fff;
	width: 1240px;
	height: 100%;
	/* padding: 46px 30px 0px 30px; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
    justify-content: flex-start;
}
/* main content */

.main-content {
    background-color: #fff;
    width: 880px;
	height: 100%;
	/* padding: 32px 30px 0px 0px; */
	float: left;
	border-right: 2px solid #f2f2f2;
}

.loading-song {
	width: 819px;
	height: 100%;
	margin: 3%;
}

.mixed-selection {
	height: 327px;
	width: 819px;
	border-bottom: 2px solid #f2f2f2;;
	margin-bottom: 34px;
	background-color: #fff;
	
}


.showing-songs {
	width: 100%;
	height: 300px;
	background-color: blue;
	overflow: hidden;
}

.inner-showing {
	/* width: 1500px; */
	height: inherit;
	background-color: #fff;
	overflow: auto;
	white-space: nowrap;
}

.inner-showing img {
	width: 200px;
	height: 200px;
	/* background-color: red; */
	margin-top: 40px;
	margin-left: 10px;
	display: inline-block;
	text-align: center;
}


.mixed-selection h2 {
	color: #333;
	font-size: 23px;
	font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
	/* line-height: 1.3px; */
	height: 29px;
	width: 819px;
}

.mixed-selection p {
	font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
	height: 19px;
	width: 819px;
	color: #333;
}


/*sidebar content */

.side-content {
	width: auto;
    background-color: #fff;
	height: 100%;
	margin: auto;
	position: fixed;
	margin-left: 50%;
	margin-left: 50%;
    margin-top: 2%;

} 

.dash-box {
	width: 300px;
	height: 250px;
	background-color:#f2f2f2;
	/* padding: 38px; */
	border: 1px solid black;
	background: url(https://va.sndcdn.com/box/DashboxTestimonials_300x250_ObjectBlue.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.side-footer{
	margin-top: 25px;
	width: 300px;
	height: 142px;
	border-top: 2px solid #f2f2f2;
}

.side-footer li {
	font-size: 11px;
	list-style: none;
	color: #cccccc;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	display: inline;
	word-wrap: break-word;
    margin-right: 10px;
}

.side-footer a {
	font-size: 11px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #3388dd;
}

.side-footer a p {
	display: inline;
	font-size: 11px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}