

/* first modal email address */

.modal-first{
    background-color: #fff;
    width: 400px;
    height: 275px;
    margin-left: 75px;
    margin-bottom: 200px;
    /* position: absolute; */
    padding: 25px;
    height: 500px;
    box-shadow: inset;
}

.modal-first-button {
    background-color: #f50;
    cursor: pointer;
    border-color: #f50;
    color: white;
    font-size: 16px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 400px;
    height: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.demo-user-button {
    background-color: black;
    color:white;
    cursor: pointer;
    width: 400px;
    height: 40px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 5px;
    /* margin-left: 10px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.or-text {
  display: flex;
  justify-content: center;
}

.or-text > hr {
    width: 150px;
    height: 1px;
    margin-top: 40px;
    color: black;
    background-color: black;
}

.or-text > p {
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 16px;
}

.email-input1{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  /* background-color: hsla(0,0%,94.9%,.9); */
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-first p {
    color: #999999;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    line-height: 20px;
    /* position: relative; */
}

input[type="text"]#email::-webkit-input-placeholder {
    -webkit-appearance: none!important;
    color: gray;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    /* text-align: center; */
    box-sizing: border-box;
}

.need-help {
    margin-top: 10px;
    text-align: right;
    color: #3388dd;
    text-decoration: none;
    font-size: 12px;
}


/* modal two email password login*/

.modal-two {
    background-color: #fff;
    width: 400px;
    height: 275px;
    margin-left: 75px;
    margin-bottom: 200px;
    /* position: absolute; */
    padding: 25px;
    height: 500px;
}

.email-prefilled-login {
    margin-top: 110px;
    margin-bottom: 10px;
    width: 365px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    padding-left: 40px;
}

.password-header {
    color: #333333;
    font-size: 14px;
    font-weight: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password-input-login {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 14px;
}

input[type="password"].password-input-login::-webkit-input-placeholder{
    -webkit-appearance: none!important;
    color: gray;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    /* text-align: center; */
    box-sizing: border-box;
}
input[type="password"].password-input-create::-webkit-input-placeholder{
    -webkit-appearance: none!important;
    color: gray;
    font-size: 16px;
    line-height: 24px;
    padding: 7px 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    /* text-align: center; */
    box-sizing: border-box;
}

.login-submit {
    width: 410px;
    height: 40px;
    margin-top: 20px;
    background-color: #f50;
    border-color: #f50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

input[type='text'].password-input::-webkit-input-placeholder{
    /* -webkit-appearance: none!important;
    color: gray;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40px;
    /* text-align: center; */
    /* box-sizing: border-box; */ 
    color: green;
}

.create-account-text {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.password-input-create {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
}

.email-prefilled-create {
    margin-bottom: 20px;
    margin-top: 30px;
    width: 365px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 40px;
}

.email-container{
    position: relative;
}

.prev-button-create {
    background-image: url(https://www.flaticon.com/svg/vstatic/svg/0/340.svg?token=exp=1611676973~hmac=758ee06afb713fdc240fc73189047bf0);
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    top: 35px;
    left: 5px;
    /* left: 2vw; */
    background-color: #fff;
    position: absolute;
}

.prev-button-login {
    background-image: url(https://www.flaticon.com/svg/vstatic/svg/0/340.svg?token=exp=1611676973~hmac=758ee06afb713fdc240fc73189047bf0);
    content: "";
    /* display: block; */
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: none;
    bottom: 225px;
    left: 5px;
    /* left: 2vw; */
    background-color: #fff;
    position: absolute;
}


.privacy-text {
    color: grey;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.login-issue-text {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* MODAL THREE AGE AND GENDER */

.modal-three {
    background-color: #fff;
    width: 400px;
    height: 275px;
    margin-left: 75px;
    margin-bottom: 200px;
    /* position: absolute; */
    padding: 25px;
    height: 500px;
}


.create-account-2 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 34px;
    text-align: center;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.age-input {
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.validation-error {
    font-size: 12px;
    color: #cf0000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gender-input {
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.age-gender-label {
    color: #333333;
    font-size: 14px;
    font-weight: 100px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* MODAL 4 USERNAME */

.modal-four {
    background-color: #fff;
    width: 400px;
    height: 275px;
    margin-left: 75px;
    margin-bottom: 200px;
    /* position: absolute; */
    padding: 25px;
    height: 500px;
}

.modal-four-header {
    margin-top: 80px;
    width: 275px;
    margin-bottom: 50px;
    font-size: 32px;
    margin-left: 68px;
    text-align: center;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-label {
   color: #333333;
    font-size: 14px;
    font-weight: 100px;
    margin-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.display-input {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.display-info {
    color: #999999;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.get-started-button {
    cursor: pointer;
    width: 410px;
    height: 40px;
    background-color: #f50;
    border-color: #f50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 30px;
}